$gradientStartColor: #6a11cb;
$gradientEndColor: #2575fc;
$titleFontColor: #fefefe;
$formInputFontColor:#555;
$formInputFocusBorderColor: #040404;
$formInputBorderColor:#e0e0e0;
$formInputBackgroundColor:#fff;
$formButtonBackgroundColor:#111;
$formButtonFontColor:#fff;
$successFontColor: #5ff322;